= form_for @node, :url => node_path(@node.name), :method => :put, :html => {:id => "edit_node"} do |f|
  #runlistform
    #runlistcontainer
      .small_box
        Recipes
      #recipes.box_info.sortable
        %ul
          - @recipes.each do |recipe|
            - recipe_name = normalize_item(recipe)
            %li.recipe{:id => recipe, :class => visible?(recipe_name)}

              %span= recipe_name
              / - if Cookbook.is_advanced_recipe?(recipe_name)
              /   %span= link_to "#", advanced_data_node_path(@node.name, :recipe => recipe_name), :rel => "facebox"


    .float_right
      #runlistcontainer
        .small_box
          Run List
        #run-list.box_info.sortable
          %ul
            -@node.extended_run_list.each do |run_list_item|
              %li.item{:class => "#{run_list_item.type} #{visible?(run_list_item.name)}" , :id => run_list_item.to_s}
                %span= run_list_item.name
                - if run_list_item.is_advanced?
                  %span= link_to "Edit", advanced_data_node_path(@node.name, :recipe => run_list_item.name), :rel => "facebox"


    / #runlistcontainer
    /   .small_box
    /     Roles
    /   #roles.box_info.sortable
    /     %ul
    /       - @roles.each do |role|
    /         %li.role{:id => role}
    /           %span= normalize_item(role)

  .clear
  = f.submit "Guardar"



  / #runlistform
  /   #runlistcontainer
  /     .list-header
  /       Run List
  /     #run-list.sortable
  /       %ul
  /         -@node.extended_run_list.each do |run_list_item|
  /           %li.item{:class => run_list_item.type, :id => run_list_item.to_s}
  /             = run_list_item.name
  /           = run_list_item.version
  /
  /   #itemscontainer
  /     .list-header
  /       Roles
  /     #roles.sortable
  /       %ul
  /         - @roles.each do |role|
  /           %li.role{:id => role}= normalize_item(role)
  /
  /     .list-header
  /       Recipes
  /     #recipes.sortable
  /       %ul
  /         - @recipes.each do |recipe|
  /           %li.recipe{:id => recipe}= normalize_item(recipe)
  /     = f.submit "Guardar"