.float_right
  = link_to "Normal view", nodes_path if !defined?(normal)

%table.full.tablesorter
  %thead
    %th Status
    %th Name
    %th Hostname
    %th Ip
  %body
    - nodes.each do |node|
      %tr
        %td{:class => node.error? ? "node-error" : "node-ok", :title => node.error}
          %span.hidden= node.error? ? "error" : "ok"
        %td= link_to node.name, node_path(node.name)
        %td= node.hostname
        %td= node.ipaddress
