= javascript_include_tag :users, :advanced_data
- if params[:edit_recipe] == '1'
  #attr_base.edit_recipe
- else
  #attr_base
  - @skel.each do |attribute|
    = raw render_base_attribute(attribute, "[node][normal]",@node)

= form_tag node_path(@node.name), :method => :put, :id => "edit_node_attributes", :remote => true do
  - @skel.each do |attribute|
    = raw render_fieldset(attribute, @data[attribute[0]], "[node][normal]", @defaults, @use_default_data, @node)


  = submit_tag "Save Changes", :class => 'submitfacebox'

  #default.float_right
    = check_box "node[normal][default]", params[:recipe], :checked => ("checked" if !@use_default_data.blank?), :class => @input_class
    Use default values
