#runlistform
  #runlistcontainer
    .small_box
      %strong Available recipes
    #recipes.box_info.sortable
      %ul
        - recipes_sort = []
        - recipes.each do |recipe|
          - recipes_sort << normalize_item(recipe)
        - recipes_sort.sort!
        - recipes_sort.each do |recipe|
          - cookbook = recipe.split("::").size == 1
          %li.recipe{:id => recipe, :class => "#{visible?(recipe)} #{'cookbook' if cookbook}"}

            %span= recipe
            / - if Cookbook.is_advanced_recipe?(recipe_name)
            /   %span= link_to "#", advanced_data_node_path(@node.name, :recipe => recipe_name), :rel => "facebox"


  / .float_right
  #runlistseparator

  #runlistcontainer
    .small_box
      %strong Run List
    #run-list.box_info.sortable
      %ul
        -item.extended_run_list.each do |run_list_item|
          - cookbook = run_list_item.name.split("::").size == 1 unless run_list_item.type.to_s == "role" 
          %li.item{:class => "#{run_list_item.type} #{visible?(run_list_item.name)} #{'cookbook' if cookbook}" , :id => run_list_item.to_s}
            - if run_list_item.type.to_s == "role"
              %span= run_list_item.name + ' (group)'
            - else
              %span= run_list_item.name
            - if run_list_item.is_advanced?
              - if item.class.name == "Node"
                %span= link_to "Edit", advanced_data_node_path(item.name, :recipe => run_list_item.name, :edit_recipe => 1), :rel => "facebox"
              - else
                %span= link_to "Edit", advanced_data_role_path(item.name, :recipe => run_list_item.name, :edit_recipe => 1), :rel => "facebox"
