%h1= "Edit user #{@user.username}" 
= form_tag home_user_path(@user.username), :method => :put do 
  - @user.skel.each do |attribute|
    = raw render_fieldset(attribute, @user.databag.send(attribute[0]))

  
  = submit_tag